body {
  margin: 0;
  padding: 0;
  background-color: black; /* Fond noir pour tout le corps du document */
  color: white; /* Changez la couleur du texte pour améliorer la lisibilité */
}


.App {
  text-align: center;
  margin-top: 20px;
  background-color: black; /* Fond noir pour toute l'application */
  color: white; /* Changez la couleur du texte pour améliorer la lisibilité */
  min-height: 100vh; /* Assurez-vous que le fond noir couvre toute la hauteur */
}


.image-container img {
  max-width: 100%;
  height: auto;
}

.bridge-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.bridge-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bridge-box input,
.bridge-box button {
  margin: 10px 0;
  padding: 10px;
  width: 200px; /* Ajustez selon la largeur souhaitée */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bridge-box button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

.bridge-box button:disabled {
  background-color: #ccc;
}

.bridge-box p {
  margin: 10px 0;
}
