/* App.css */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #000000 0%, #b0c4de 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column; /* Organise les enfants verticalement */
  justify-content: flex-start; /* Aligner les enfants au début du conteneur */
  align-items: center; /* Centrer les enfants horizontalement */
  height: 100%;
  position: relative;
}

.image-container {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 600px; /* ou une autre valeur qui correspond à la largeur maximale souhaitée */
  height: auto; /* Hauteur auto pour s'adapter au contenu */
  margin-top: 2vh;
  z-index: 0;
}


.bridge-form {
  z-index: 1; /* Assurez-vous que le formulaire est au-dessus de l'image */
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 320px;
  margin-top: -5vh; /* Ajustez la marge pour que le formulaire chevauche l'image si nécessaire */
}

button,
input,
select {
  height: 40px;
  /* Hauteur uniforme pour les éléments du formulaire */
  margin: 5px 0;
  /* Réduit l'espace entre les éléments */
}

button {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input,
select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}